<section>
<!-- footer begin -->
<div class="footer">
	<div class="footer-container">
	<a href="http://www.manyoubang.com/home-info-key-about.html">关于慢友帮</a> |
	<a href="http://www.manyoubang.com/home-info-key-agreement.html">服务协议</a> |
	<a href="http://www.manyoubang.com/home-info-key-rule.html">社区守则</a> |
	<a href="http://www.manyoubang.com/home-info-key-job.html">加入我们</a> |
	<a href="http://www.manyoubang.com/home-info-key-contect.html">联系我们</a> |
	<a href="http://www.manyoubang.com/home-info-key-renzheng.html">申请认证</a> |
	<a href="http://app.manyoubang.com/">手机客户端</a> 

	 <br>

	Copyright © 2015　www.manyoubang.com　All rights reserved 浙ICP备12043549号

	</div>
</div> <!-- footer end -->
</section>