<div data-ng-controller="HeaderController">
<div class="man-header" style="height: 54px;">
            <div class="man-header-content man-container">
                <div class="left">
                    <a  href="/" title="慢友帮—中国最大慢性病病友互帮社区"><img src="http://www.manyoubang.com/theme/sample/img/logo.png"  alt="慢友帮—中国最大慢性病病友互帮社区" title="回到首页" class="logo" ></a>
                </div>
                <div class="tsearch" style="width: 235px; height: 30px;">
                    <form name="tsearch-form" data-ng-submit="search()" novalidate>
                    	<div class="form-group">
                            <input type="text" class="inputtext" style="height: auto; outline: 0;" value="" data-ng-model="content" placeholder="话题/药物/疗法/用户/群组" autocomplete="off">
                            <input type="submit" class="searchbt" style="outline: 0;" value=" " />
                        </div>
                    </form>
                </div>
                <div class="nav">
                    <ul>
                        <li ng-repeat="board in boards" ng-class="{true: 'cur', false: ''}[isActive(board)]">
                            <a href="{{board.prefix + board.ref}}" ng-click="click_list(boards, $index)">{{board.name}}</a>
                        </li>
                    </ul>
                </div>
                <div class="banner" data-ng-show="isHome()">
                    <img src="http://www.manyoubang.com/css/img/index-banner.png" alt="分享 互助 鼓励">
                </div>
                <div class="login-box" data-ng-show="!isHome()">
                    <div class="fast-login">
                        <a href="http://www.manyoubang.com/user-login.html" class="login-popup">登录</a>&nbsp;|&nbsp;<a href="http://www.manyoubang.com/user-register.html">注册</a>
                    </div>
                </div>
                
            </div>
            <div class="greenbg">
            </div>
</div>
</div>