<div data-ng-controller="HeaderController">
<div class="man-header" style="height: 54px;">
            <div class="man-header-content man-container">
                <div class="left">
                                            <a  href="http://www.manyoubang.com/" title="慢友帮—中国最大慢性病病友互帮社区"><img src="http://www.manyoubang.com/theme/sample/img/logo.png"  alt="慢友帮—中国最大慢性病病友互帮社区" title="回到首页" class="logo" ></a>
                                    </div>
                <div class="tsearch" style="width: 235px; height: 30px;">
                    <form method="GET" action="http://www.manyoubang.com/index.php">
                        <input type="hidden" name="app" value="search" />
                        <input type="hidden" name="ac" value="s" />
                        <input type="hidden" name="ts" value="discuss" />
                        <input type="text" class="inputtext" id="searchkw" name="kw" style="height: auto;" value="" placeholder="话题/药物/疗法/用户/群组" autocomplete="off">
                        <input id="searchto" type="submit" class="searchbt" value=" " />
                        <div class="search-con-wrapper"></div>
                    </form>
                </div>
                <div class="nav">
                    <ul>
                        <li  class="cur" ><a href="http://www.manyoubang.com/home-index.html">广场</a></li>
                        <li ><a href="http://www.manyoubang.com/group.html">疾病</a></li>
                        <li ><a href="http://www.manyoubang.com/home-subjects-page-1">科普</a></li>
                                            </ul>
                </div>
                                                <div class="banner">
                    <img src="http://www.manyoubang.com/css/img/index-banner.png" alt="分享 互助 鼓励">
                </div>
                                            </div>
            <div class="greenbg">
            </div>
</div>

</div>